In [2]:
import pandas as pd
import json

In [11]:
file = './database/Fatura_Itau_20250226-102719.json'
#Ler o dicionario "gastos" do arquivo json
with open(file) as f:
    data = json.load(f)
df = pd.DataFrame(data['gastos'])

In [17]:
df['valor'] = df['valor'].replace('[,]', '.', regex=True).astype(float)

df['valor'].sum()

np.float64(6967.5199999999995)

In [18]:
df.head()

    data             descrição   valor
0  27/08        FERREIRA COSTA  113.99
1  10/09       PAGUE MENOS 852   53.99
2  22/01  IFOOD *IFD*supermerc   88.13
3  10/09       FERREIRA COS-CT   89.88
4  30/01       CROMIA ACRILICO  156.00